:root {
    --pielClaro: #ffdeb8;
    --fuentePrincipal: 'Staatliches', cursive;   
}

body {
    background-color: var(--primario);
    font-family: Arial, Helvetica, sans-serif;
}

.forboton {
  text-align: center;

}

.formulario {
    background-color: var(--pielClaro);
    width: min(60rem, 100%); 
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset {
    border: none;
 }

 .boton {
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 30%;
    text-align: center;
    border: none;
}
.boton:hover {
    cursor: pointer;
}

.enviar.boton {
    display: flex;
    justify-content: flex-end;
    width: auto;
    
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
  }
  .pt-32 {
    padding-top: 2rem;
    text-align: center;
  }
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.min-h-screen {
    min-height: 100vh;
  }
.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}

.font-medium {
  font-weight: 500;
}


